nav {
    border-bottom: solid 1px grey;
    margin-bottom: 15px;
}
nav a {
    display: inline-block;
    padding: 10px;
}
footer {
    border-top: solid 1px grey;
    margin: 15px 0;
    text-align: center;
}